.home{
    background-image: url(/public/img/dark.jpeg);
    background-size: cover;
    width: 80%;
    background-color: #2A3A3F;
    color: white;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto ;
 
}


.home_info {
    font-size: 3em;
    margin-bottom: 100px;

}

.home_info > p{
    margin-top: 30px;
    font-size: .7em;
    font-weight: 300;
    margin: 30px;
}

.home_info > button {
    background-color: #edcf2e;
}

a {
    text-decoration: none !important; color: #000
}


