.home {
  background-image: url(/public/img/white.png);
  width: 80vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: white;
  color: black;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

}


/* Height for devices larger than 576px */
/* @media screen and (max-width: 480px) {
    .home{
  width:100vw;
    }  
  } */
  

.navbar .nav-link {
  color: #fff !important;
}

.home_info {
    font-weight: bolder;
  font-size: 3em;
  margin-bottom: 100px;
}

.home_info > p {
  margin-top: 30px;
  font-size: 0.4em;
  font-weight: bolder;
  margin: 30px;
}

.home_info > button {
  background-color: #edcf2e;
}

a {
  text-decoration: none !important;
  color: #000;
}
