.projects{
    /* background-color: #DCC9B6; */
   
    padding-top: 100px;
    width: 100vw;
    height: 100vh;
    color: black;
    /* background-color: white; */
    text-align: center;
    margin: 0 auto ;

    border-bottom: none;

}

h1{
    font-weight: bolder;
}

@media screen and (max-width: 480px) {
    .projects{
     margin-bottom: 650px;
    }  
 
}

@media screen and (max-width: 375px) {
    .projects{
     margin-bottom: 550px;
    }  
 
}