.projects{
    border: 10px solid 2px;
    padding-top: 100px;
    width: 80vw;
    height: 100vh;
    color: gray;
    background-color: white;
    text-align: center;
    margin: 0 auto ;
    margin-bottom: 560px;
    border-bottom: none;
}

h1{
    font-weight: bolder;
}

@media screen and (max-width: 480px) {
    .projects{
     margin-bottom: 1800px;
    }  
 
}

@media screen and (max-width: 375px) {
    .projects{
     margin-bottom: 2000px;
    }  
 
}