.skills {
  background-image: url(/public/img/bulb.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 65vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  /* background-image: url("/public/img/earth.jpg"); */
  background-size: cover;
  margin: 0 auto;
  background-size: cover;
  text-align: center;

}

.skills > h1 {

  top: 20px;
  position: relative;
  text-align: center;
  font-size: 2em;
  color: #FDFFFC;
}

.skills_logos {
  justify-content: center;
  display: flex;
  margin-left: 4%;
  font-size: .5em;
  color: #FDFFFC;
  margin-top: 5%;
}

.logo {
  margin: 20px;
}

.skills_logos > img {
  color: white;
}

.logo2 {
  width: 100px;
  max-height: 70px;
  transform: translateY(22px);
  fill: #FDFFFC;
  filter: invert(94%) sepia(25%) saturate(232%) hue-rotate(347deg) brightness(108%) contrast(117%)
}

.skills_logos2 {
  justify-content: center;
  display: flex;
  font-size: 24px;
  color: white;
}

.skills > form > button {
  border-radius: 10px;
  border: none;
  background-color: #edcf2e;
  color: black;
  font-size: 1em;
}
.skills > form > :hover {
  color: #e8dbfc;
  background-color: #00050e;
}

@media screen and (max-width: 480px) {
  .skills_logos {
    margin-top: 50px;
    font-size: 1em;
  }
  .logo2 {
    width: 100px;
    max-height: 90px;
    margin: 20px;
  }
  .skills > h1 {
    font-size: 2em;
  }
}

#resume {
  margin-top: 2%;
  font-size: large;
  border-radius: 10px;
  font-weight: bold;
}

#resume:hover {
  background-color: black;
  color: yellow;
}

#about_p{
  color:white;
  margin-top: 2%;
}

.resume_info{
  margin-top: 10%;
} 