.skills {
  height:65vh;
  width: 80vw;
  justify-content: center;
  align-items: center;
  /* background-image: url("/public/img/earth.jpg"); */
  background-size: cover;
  margin: 0 auto;
  background-size: cover;
  text-align: center;
}

.skills > h1 {
  top: 90px;
  position: relative;
  text-align: center;
  font-size: 50px;
  color: #222E50;
}

.skills_logos{
  justify-content: center;
  display: flex;
  margin-top: 4%;
  margin-left: 4%;
  font-size: 24px;
  color:#222E50;
}

.logo{
  margin: 50px;
}

.skills_logos > img{
  color: white;
}

.logo2{
  width: 250px;
  max-height: 120px; 
  margin: 20px;
  transform: translateY(22px);
  fill: #222E50;
  filter: invert(15%) sepia(7%) saturate(6169%) hue-rotate(190deg) brightness(91%) contrast(89%);
}

.skills_logos2{
  justify-content: center;
  display: flex;
  margin-top: 5%;
  margin-left: 4%;
  font-size: 24px;
  color: #222E50;
  margin: 4%;
}

.skills > form > button{
  border-radius: 10px;
  border: none;
  background-color: #edcf2e;
  color: navy;
  font-size: 1.4em;

}
.skills > form >:hover{
  color: #e8dbfc;
  background-color:#00050E
}