.header {
  width: 100vw;
  margin: 0 auto;
}


ul {
  display: flex;
  margin: 0 auto;
}

li a {
  font-weight: 600;
  font-size: 20px;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: darkgrey;
}

