.header {
    width: 80%;
    position: sticky;
    top: 0;
    background-color: black;
    padding-bottom: 20px;
    margin: 0 auto ;

}
ul{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5% ;
  }
  
  li a {
      font-weight: 600;
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: #111;
  }